body main menu div a {
    margin: 1rem;
}

body main {
    justify-content: center;
    align-items: center;
    width: fit-content;
}

body main header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
}

body main menu {
    display: flex;
    flex-direction: row !important;
    width: fit-content;
}

body main menu div span {
    border-bottom: 2px solid, white;
    display: block;
}

@media screen and (max-width: 580px) {
    body main menu {
        display: flex;
        flex-direction: column !important;
    }
}

body main section div {
    border: #000 solid 1px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 1rem;
}

div.adso {
    background: linear-gradient(#663398 50%, #a478d1 50%);
    border-radius: 0.4rem;
    color: #fff;
    padding: 1rem;
    margin: 4rem auto;
    font-size: 3.6rem;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 1rem !important;
    border-radius: 15px !important;
}

body main section div.rotate {
    background-color: #000;
    color: #fff9;
    margin: 4rem auto;
    padding: 0.4rem;
    text-align: center;
    font-size: 4rem;
    width: 200px;
    transform: rotate(-25deg);

}

ul.fruits {
    border: solid 1px black;
    width: 15rem;
    border-radius: 25px;
}

ul.fruits>li+li {
    background: rgba(235, 0, 0, 1);
}

ul.fruits>li+li+li {
    background: rgb(43, 255, 1);
}

ul.fruits>li {
    background: rgb(255, 107, 1);
}

section button {
    border-radius: 0.4rem;
    border: none;
    padding: 0.8rem 0.8rem;
    font-size: 1.4rem;
    display: flex;
    margin: 4rem auto;
}

section button.green {
    background: #5fbb5f;
}

section .green {
    background: #e44ea8;
}

body main section.inheritch {
    color: darksalmon;

    li.important {
        color: palegreen;
    }
}

ul.units_relativ li {
    margin: 1rem;
    background: rgba(158, 1, 255, 0.3);
    border: #000 1px solid;
    font-size: 2rem;
}

li.rel1 {
    width: 15px;
}

li.rel2 {
    width: 1.5em;
}

li.rel3 {
    width: 2rem;
}

li.rel4 {
    width: 1.2ex;
}

ul.abs li {
    margin: 1rem;
    background: rgba(158, 1, 255, 0.3);
    border: #000 1px solid;
    font-size: 2rem;
}

li.abs1 {
    width: 0.5in;
}

li.abs2 {
    width: 1cm;
}

li.abs3 {
    width: 10mm;
}

li.abs4 {
    width: 2pc;
}

section.percentage {
    width: 80%;
    background-color: rgba(158, 1, 255, 0.3);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 1px solid black;

    div.parent {
        height: 50dvh;
        display: flex;
        justify-content: center;
        align-items: center;

        div.child1 {
            display: flex;
            align-items: center;
            height: 70%;
        }

        div.child2 {
            display: flex;
            align-items: center;
            height: 30% ;
        }
    }
}